services:
  realmd:
    image: cmangos-${CMANGOS_EXPANSION}:latest
    build:
      context: "."
      tags:
        - "cmangos-${CMANGOS_EXPANSION}:latest"
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - 3724:3724
    volumes:
      #      - ./etc:/mangos/etc
      - ./databases:/databases
      - /etc/localtime:/etc/localtime:ro
    entrypoint:
      - "/mangos/bin/realmd"
  #    command:
  #      - "-c/mangos/etc/realmd.conf"
  mangosd:
    image: cmangos-${CMANGOS_EXPANSION}:latest
    build:
      context: "."
      tags:
        - "cmangos-${CMANGOS_EXPANSION}:latest"
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - 8085:8085
    volumes:
      #      - ./etc:/mangos/etc
      - ./databases:/databases
      - ./data:/data
      - /etc/localtime:/etc/localtime:ro
    entrypoint:
      - "/mangos/bin/mangosd"
    #    command:
    #      - "-c/mangos/etc/mangosd.conf"
    stop_grace_period: 60s
