services:
  realmd:
    image: cmangos-${CMANGOS_EXPANSION}:latest
    build:
      context: "."
      tags:
        - "cmangos-${CMANGOS_EXPANSION}:latest"
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - 3724:3724
    volumes:
      - ./databases:/databases
      - /etc/localtime:/etc/localtime:ro
    entrypoint:
      - "/mangos/bin/realmd"
  mangosd:
    image: cmangos-${CMANGOS_EXPANSION}:latest
    build:
      context: "."
      tags:
        - "cmangos-${CMANGOS_EXPANSION}:latest"
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - 8085:8085
    volumes:
      - ./databases:/databases
      - ./data:/data
      - /etc/localtime:/etc/localtime:ro
    entrypoint:
      - "/mangos/bin/mangosd"
    stop_grace_period: 60s
